<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Travel Destination</title>
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  <style type="text/css">
  .py-terminal {
    display: flex;
    flex-wrap: wrap;
  }
  </style>
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
  <!-- <py-config>
  [[fetch]]
  files = ["../travel.py"]
</py-config> -->
</head>

<body>
  <h1>Your next travel destination will be ... </h1>
  <py-script src="../travel.py">
  </py-script>

  <div>
    <p>
      This is a paragraph tag for testing.
    </p>
  </div>

  <footer>
    <p>Author: Katrina Hill. &copy; 2022<br>
      <a href="mailto:katrina.lenell.hill@gmail.com">katrina.lenell.hill@gmail.com</a>
    </p>
  </footer>

</body>

</html>