<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Travel Destination</title>
  <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
  <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  <style type="text/css">
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 7vh;
      padding-bottom: 1%;
      background-color: azure;
      color: black;
      text-align: center;
    }

    .h1 {
      color: blue;
    }
  </style>
  <!-- <link rel="stylesheet" href="static/css/style.css"> -->
  <!-- <py-config>
  [[fetch]]
  files = ["../travel.py"]
</py-config> -->
</head>

<body>
  <div class="h1">
    <h1>Your next travel destination will be ... </h1>
  </div>
  <py-script src="../travel.py">
  </py-script>
  <div class="footer">
    <footer>
      <p>Author: Katrina Hill. &copy; 2022
        <a href="mailto:katrina.lenell.hill@gmail.com">katrina.lenell.hill@gmail.com</a>
      </p>
    </footer>
  </div>
</body>

</html>